rasa==3.6.21
rasa-sdk==3.6.2
firebase-admin
sanic
websockets
ruamel.yaml
tensorflow-hub
python-dateutil
sanic-routing
scikit-learn
aio-pika
SQLAlchemy
tensorflow
tensorflow-addons
async_generator
coloredlogs
matplotlib
jsonpickle
boto3
tqdm
ujson
regex
CacheControl
packaging
terminaltables
absl-py
aiohttp
rocketchat_API
sentry-sdk
google-auth
webexteamssdk
fbmessenger
sklearn-crfsuite
cloudpickle
mattermostwrapper
randomname
